@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
:root {
    --sidebar-width: 10rem !important;
    --collapsed-sidebar-width: 4.5rem;

}
.fi-sidebar {
    --sidebar-width: 10rem !important;
    --sidebar-width-collapsed: 5rem; /* Collapsed width */
}
.filament-table th {
    min-width: 150px;
}

/* For data cells */
.filament-table td {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
